<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="closebox.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icone"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity" 
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name = ".InserirNomeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            </activity>
        <activity 
            android:name=".TelaJogoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".ScoreActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            ></activity>
        <activity 
            android:name=".SobreActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".OptionsActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        
        <activity 
            android:name=".ControllerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".CreditosActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".HistoriaActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".ComoJogarActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".GameOverActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity 
            android:name=".NumeroDeJogadoresActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <service android:name="closebox.service.MusicaPrincipalService" >
            <intent-filter >
                <action android:name="INICIAR_SERVICO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
         
    </application>

</manifest>